#app-container {
    width: 100%;
    max-width: none;
}

._dash-undo-redo {
  display: none;
}

body {
  background-color: #171b26;
  color: #9fa6b7;
  margin: 0px;
}

.banner {
  height: 3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.banner h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.banner Img {
  position: relative;
  height: 3rem;
  width: auto;
}

#left-column {
    margin-top: 25px;
    padding: 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: calc(100vh - 5.5rem);
}

.geo-map > div, .line-chart > div, {
    height: 100% !important;
    width: 100% !important;
}

.draglayer {
    cursor: pointer !important;
}

*.Select-control, Select--single, .Select-multi-value-wrapper, .Select-value, .Select-value-label {
  background-color: #171b26 !important;
  color: #7b7d8d !important;
}

.Select-control, .Select-menu-outer {
  border: 1px solid dimgrey !important;
}

span.Select-clear-zone {
  display: none !important;
}

.Select-menu-outer, .Select-menu-outer div, .Select--multi {
  background-color: #171b26 !important;
  color: #7b7d8d !important;
}

.Select-menu-outer div:hover {
  color: white !important;
  cursor: pointer;
}

#graph-select-outer, #style-select-outer, #color-select-outer, #loc-select-outer, #text-search-outer {
  width: 100%;
}

#graph-select-outer > label, #style-select-outer > label, #color-select-outer > label, #loc-select-outer > label, #text-search-outer > label {
  margin-bottom: 2px;
  color: #7b7d8d;
}

.section-title, #map-title, #treemap-title, #tweets-title {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.dash-spreadsheet-container .dash-spreadsheet-inner th, td {
  text-align: left !important;
  font-family: "Open Sans", sans-serif !important;
  border-top-color: #171b26 !important;
  border-bottom-color: #171b26 !important;
  border-left-color: #171b26 !important;
  border-right-color: #171b26 !important;
  font-size: 12px;
}

#tweets-outer > p {
  font-weight: bold;
  margin: 20px 0px;
  max-height: 200px;
  overflow: auto;
}

.mapboxgl-canvas, .mapboxgl-map {
  min-width: 100%;
}
