#app-container {
    width: 100%;
    max-width: none;
}

._dash-undo-redo {
  display: none;
}

body {
  background-color: #171b26;
  color: #9fa6b7;
  margin: 0px;
}

.banner {
  height: 4rem;
  margin-bottom: 1rem;
  padding: 4rem 4rem 0rem;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.banner h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

.banner Img {
  position: relative;
  height: 3rem;
  width: auto;
}

#left-column {
    margin-top: 25px;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: calc(100vh - 5.5rem);
}

#right-column {
    background-color: #171b26;
}

.geo-map > div, .line-chart > div {
    height: 100% !important;
    width: 100% !important;
}

.draglayer {
    cursor: pointer !important;
}

#graph-select-outer, #graph-style-outer, #text-outer {
  width: 100%;
}

*.Select-control, Select--single, .Select-multi-value-wrapper, .Select-value, .Select-value-label {
  background-color: #171b26 !important;
  color: #7b7d8d !important;
}

.Select-control, .Select-menu-outer {
  border: 1px solid dimgrey !important;
}

span.Select-clear-zone {
  display: none !important;
}

.Select-menu-outer, .Select-menu-outer div, .Select--multi {
  background-color: #171b26 !important;
  color: #7b7d8d !important;
}

.Select-menu-outer div:hover {
  color: white !important;
  cursor: pointer;
}

#graph-select-outer > label, #graph-style-outer > label, #text-outer > label {
  margin-bottom: 2px;
  color: #7b7d8d;
}

.section-title, #map-title, #line-chart-title {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.mapboxgl-canvas, .mapboxgl-map {
  min-width: 100%;
}
